<h1><%= Gov Management %></h1>

	<p>
	  <strong>Unfilled_Location:</strong>
	  <%= @gov.unfilled_location %><br />
	

	
	  <strong>Filled_Location:</strong>
	  <%= @gov.filled_location %><br />
	

	</p>


	<%= link_to "Delete", :gov, method: :delete, data: { confirm: "Are you sure you want to delete #{@gov.filled_location}?"} %>

<%= link_to "Back to the list!", govs_path %>






<!-- 

<p><%= @gov.description %></p>
<hr />
<%= link_to 'Back', {:action => 'list'} %> -->