<!DOCTYPE html>
<html>
<head>
  <title>CareAccess</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>Welcome to CareAccess!
	<% if current_user %>
<%= link_to "Log out", session_path, method: :delete %>
<% else %>
<%= link_to "Sign up", new_user_path %>
<%= link_to "Log in", new_session_path %>

<% end %> 


<h1>Hospital Selections</h1>
<p>

<%= link_to "By Primary_Care only", hospitals_path(hospitalfilter:"primary_care") %>
<%= link_to "By Registered_Nurse only", hospitals_path(hospitalfilter:"registered_nurse") %> 
<%= link_to "By Location only", hospitals_path(hospitalfilter:"location") %>
<%= link_to "By State_Loan_Repayment_only", hospitals_path(hospitalfilter:"state_loan_repayment") %>
<%= link_to "By NHSC_Loan_Repayment_only",hospitals_path(hospitalfilter:"NHSC_loan_repayment") %>
<%= link_to "Show All",          hospitals_path(hospitalfilter:"showall") %>
  <br>
</p>
  <ul>
<% @hospitals.each do |s| %>
  <li>
    <strong> <%= h.hospital %> </strong> 
    (<%= h.hospital %>) 
    <%= link_to "select", hospital_path(h) %>
  </li>
  <% end %>
</ul>




<h1>California State Primary Care Office</h1>

<p>California Healthcare Workforce Development Division 
Office of Statewide Health Planning & Development
400 R Street, Suite 330
Sacramento, CA 95811
Fax (916) 322-2588
Phone:  See individual contacts
PCO Director: Lupe Alonzo-Diaz – (916) 326-3700
HPSA Contact: Hovik Khosrovian – (916) 326-3734
NHSC Contact: Hovik Khosrovian – (916) 326-3734</p>




<%= yield %>

</body>
</html>
