<%= form_for [@user, @hospital] do |f| %>
  
    <%= f.select :day_of_week, day_array(f.object.new_record?), {} %>
    <%= f.select :start_hour, hour_array(f.object.new_record?) %> -
    <%= f.select :end_hour, hour_array(f.object.new_record?) %>
    <% if !f.object.new_record? %>
      <%= link_to "X", driver_availability_path(@driver, f.object.id), {method: :delete} %>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>


<%= form_for @hospital do |f| %>
  Name: <%= f.select :name, name_array() %>
  Practice_field: <%= f.select :practice_field, practice_field_array () %>
  Location: <%= f.select :location, location_array () %>
  Benefit: <%= f.select :benefit, benefit_array () %>
<%= f.submit " Submit" %>

<%= link_to "", pairings_path %>

<% end %>

<%= link_to "Back to the hospital list", hospitals_path %>