<h1> Save this hospital on your account </h1>

<%= form_for @hospital do |f| %>
	Name: <%= f.text_field :name, placeholder: "name" %>
	Practice_field: <%= f.text_field :practice_field, placeholder: "practice_field"%>
	Location: <%= f.text_field :location, placeholder: "location" %>
	Benefit: <%= f.text_field :benefit, placeholder: "benefit" %>

	<%= f.submit "Click here to save this hospital on your account" %>

<% end %>

<%= link_to "Back to the list!", hospitals_path %>