<h1>Sign up for our site!</h1>

<%= form_for @user do |f| %>
	Name <%= f.text_field :name, placeholder: "WHO ARE YOU????" %><br />
	Email <%= f.text_field :email, placeholder: "your super secret email address..  we will be spamming.." %><br />

	<%= f.password_field :password, placeholder: "password ..." %><br />
	<%= f.password_field :password_confirmation, placeholder: "... and again" %>

	<%= f.submit "create" %>
<% end %>

<%= link_to "Back to the list!", users_path %>

